.THIS .logoContainer {
    border-radius:0rem;
}
@media (min-width: 64em) {
    .THIS .logoContainer {
    	width: 5rem;
    	height: 5rem;
	}
}
.THIS .logoContainer img {
    content: t('url(' + brandLogoImage  + ')');
}
.THIS .logoFooter {
    background-image: t('url(' + brandLogoImage  + ')');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 99;
    cursor: pointer;
    position: relative;
    max-width: 100%;
    display: block;
    outline: 0;
    height: 70px;
    width: 70px;
}

.THIS .open-source-banner {
    background-color: #252f3e;
    color: white;
    font-size: small;
    text-align: center;
    padding: .5rem 0rem;
}

.THIS .open-source-banner a {
    color: #d3d3d3;
    text-decoration: underline;
}
