.THIS h2 {
    font-size: 1.75rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.THIS .usa-sidenav {
    margin-bottom: 0;
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
    font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 1.06rem;
    line-height: 1.3;
    border-bottom: 1px solid #e6e6e6;
}

.THIS .usa-sidenav__item {
    border-top: 1px solid #e6e6e6;
}
.THIS .usa-sidenav a {
    color: #5c5c5c;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none; 
}
.THIS .site-nav-secondary ul>li {
    margin-bottom: 0;
    max-width: unset;
}
.THIS .usa-nav__submenu-list>li {
    margin-bottom: 0;
    max-width: unset;
}
.THIS  .usa-sidenav>li {
    margin-bottom: 0;
    max-width: unset;
}
.THIS .usa-sidenav__sublist>li {
    margin-bottom: 0;
    max-width: unset;
}
.THIS .usa-sidenav__sublist {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    font-size: 1rem;
}
.THIS .usa-sidenav__sublist a {
    padding-left: 2rem;
}